* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* --navbar-- */

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

#part2 a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 8px;
}

#part2 a:hover {
    text-decoration: underline;
}

#part2 {
    display: flex;
    gap: 50px;
}

/* --end of nav */
